<html class="full" lang="en-US">
<head>
  <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>
<div class="container"> 
    <div id="login">
      <form name='form-login' [formGroup]="loginForm" (ngSubmit) = "moveOn()">
       
        <div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div class="alert alert-danger" *ngIf="f.email.errors?.required"><small>This field is required</small></div>
            <div class="alert alert-danger" *ngIf="f.email.errors?.pattern"><small>Please enter a valid email.</small></div>
        </div>
        <span class="fontawesome-user"></span>
        <input type="text" formControlName="email" id="user" placeholder="Email" pattern="[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)">
        </div>
        <div>
          <div class="alert alert-danger" *ngIf="submitted && f.password.errors?.minlength">
            <small>Need at least 5 characters</small>
          </div>
          <div class="alert alert-danger" *ngIf="submitted && f.password.errors?.maxlength">
            <small>Maximum amount of characters is 200</small>
          </div>
          <div class="alert alert-danger" *ngIf="submitted && f.password.errors?.required">
            <small>This field is required</small>
          </div>
        <span class="fontawesome-lock"></span>
        <input type="password" formControlName="password" id="pass" placeholder="Password">
        </div>
        <input type="submit" value="Login">
        <div id="my-signin2"></div>
        <p style="margin-top: 5px; margin-bottom: 0px;"> <a routerLink="/register"> Click here to register</a> </p>
     
        </form>
        
    </div>
</div>
</html>
<router-outlet></router-outlet>