<html class="full" lang="en-US">
<head>
  <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>
<div class="container"> 
    <div id="login">
      <form name='form-login'>
        <span class="fontawesome-user"></span>
          <input type="text" id="user" placeholder="Username">
       
        <span class="fontawesome-lock"></span>
          <input type="password" id="pass" placeholder="Password">
        
        <input type="submit" value="Login" routerLink="/menu">
        <p style="margin-top: 5px; margin-bottom: 0px;"> <a routerLink="/register"> Click here to register</a> </p>
     
        </form>
        
    </div>
</div>
</html>
<router-outlet></router-outlet>