<html>
    <body>
    <div id="container">
        <div id="side">
            <div id="personal-profile">

            </div>
            
            <div id="search-filter">

            </div>

            <div id="nav-contacts">

            </div>
        </div>
       
        <div id="main">
        <div id="group1"> 
            <div id="contact-bar">

            </div>
           
            <div id="contact-conversation">

            </div>
       
       
       
        </div>
        <div id="group2"> 
            <div id="contactprofile">

            </div>
        </div>
   
            
            <div id="contact-conversation-bar">

            </div>
            

            
        </div>
 
    </div>
    </body>
</html>