<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" language="javascript" src="../JS/bmwcustom.js"></script>
</head>

<body>
   
    <div id="container">
        <div *ngIf="!menuIsActive" [@inOutAnimation] class="profilemenu">
            <div class="returnProfile" (click)="toggle()">
                <img src="../../assets/img/left-arrow.png" >
                <span id="returnSpan">Return </span>
            </div>
            <div id="personal-contact-profile-image">
                <span>Your image</span>
                <img src="../../assets/img/duck.jpg">
            </div>
            <div id="personal-contact-profile-name">
                <span>Your name</span>
                <input type="text" id="fname" value="{{this.myProfile.profile.displayName}}" name="fname">
            </div>
            <div id="personal-contact-profile-name">
                <span>Your status</span>
                <input type="text" id="fname" value="{{this.myProfile.profile.status}}" name="fname">
            </div>
        </div>
        <div id="side">
            <div id="personal-profile">
                <div id="personal-profile-image" (click)="toggle()">
                    <img src="../../assets/img/duck.jpg">
                </div>
                <div id="personal-profile-status">
                    <div><span>Personal name</span></div>
                <div><span style="font-size:12px;"><i>Status, a long statusddddddddddddddddddd</i></span></div>
                </div> 
                <div id="profile-options-button" (click)="toggleSearchMenu()">
                    <img src="../../assets/img/icons8-menu-48 (1).png">
                </div>
            </div>

            <div id="search-filter">

                <img id="icons" class="tablinks" src="../../assets/img/icons8-person-90.png"
                    (click)="switchTab('contact')">
                <img id="icons" class="tablinks" src="../../assets/img/icons-grouping.png" (click)="switchTab('group')">
                <img id="icons" class="tablinks" src="../../assets/img/icons8-star-96.png"
                    (click)="switchTab('favorite')">
            </div>

            <div id="nav-contacts">
                <div *ngIf="currentTab =='contact'" id="contacts">

                    <div id="contact" *ngFor="let item of this.normals;" (click)='getMockMessages()'>
                        <div id="contact-picture">
                            <div id="contact-image">
                                <img src="../../assets/img/duck.jpg">
                            </div>
                        </div>
                        <div id="contact-info">
                            <div id="top-info">
                                <div id="contact-name">
                                    <span>{{item.name}}</span>
                                </div>
                                <div id="contact-date">
                                    <span>date</span>
                                </div>
                            </div>
                            <div id="bot-info">
                                <div id="contact-last-messanger">
                                    <span>{{item.lastMessagedName}}:</span>
                                </div>
                                <div id="contact-last-message">
                                    <span>{{item.lastMessagedMessage}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="currentTab =='group'" id="contacts">
                    <div id="contact" *ngFor="let item of this.group;">
                        <div id="contact-picture">
                            <div id="contact-image">
                                <img src="../../assets/img/duck.jpg">
                            </div>
                        </div>
                        <div id="contact-info">
                            <div id="top-info">
                                <div id="contact-name">
                                    <span>{{item.name}}</span>
                                </div>
                                <div id="contact-date">
                                    <span>date</span>
                                </div>
                            </div>
                            <div id="bot-info">
                                <div id="contact-last-messanger">
                                    <span>{{item.lastMessagedName}}:</span>
                                </div>
                                <div id="contact-last-message">
                                    <span>{{item.lastMessagedMessage}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="currentTab =='favorite'" id="contacts">
                    <div id="contact" *ngFor="let item of this.favorites;">
                        <div id="contact-picture">
                            <div id="contact-image">
                                <img src="../../assets/img/duck.jpg">
                            </div>
                        </div>
                        <div id="contact-info">
                            <div id="top-info">
                                <div id="contact-name">
                                    <span>{{item.name}}</span>
                                </div>
                                <div id="contact-date">
                                    <span>date</span>
                                </div>
                            </div>
                            <div id="bot-info">
                                <div id="contact-last-messanger">
                                    <span>{{item.lastMessagedName}}:</span>
                                </div>
                                <div id="contact-last-message">
                                    <span>{{item.lastMessagedMessage}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            <div *ngIf="!friendMenuIsActive" [@inOutAnimation] class="search-menu">
                <div class="returnProfile" (click)="toggleSearchMenu()">
                    <img src="../../assets/img/icons8-macos-close-32.png" >
                    <span id="returnSpan">Return </span>
                </div>
                <div id="search-container">
                <form [formGroup]="searchdata" #userlogin (submit)= "onClickSearchContacts()"> 
                    <input type="search" formControlName="contactsearch" class="contact-searchbar">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                </div>
                <div id="pot-contacts">
                <div id="pot-contact" *ngFor="let item of this.potentialContacts">
                    <div id="contact-picture">
                        <div id="contact-image">
                            <img src="../../assets/img/duck.jpg">
                        </div>
                    </div>
                           <div id="pot-contact-name">
                                <span>{{item.displayName}}</span>
                            </div>
                    <div id="pot-contact-request">
                        <img src="../../assets/img/icons8-approval-24.png">
                    </div>
                </div>
            </div>
        </div>
            <div id="group1">
                <div id="contact-conversation">

                    <div class="messsage" *ngFor="let item of this.messages; "
                        [ngClass]="item.senderID == '1231' ? 'MyMessage':''">
                        <span>{{item.message}}</span>
                    </div>
                    
                </div>
                <div id="contact-conversation-bar">
                    <div id="emote-icon">   <img src="../../assets/img/icons-grouping.png" style="width: 35px; height: 35px;"></div>
                    <div id="emote-icon">   <img src="../../assets/img/icons-grouping.png" style="width: 35px; height: 35px;"></div>
                    <div id="text-input"><textarea 
                        class="expandable-textarea" id="message" [(ngModel)]="message" role="textbox"  contenteditable >Your default value </textarea> </div>
                    <div id="emote-icon"><button id="conversation-input-button" (click)="sendMessage()">Send</button></div>
                </div>
           </div>
            <div id="group2">
                <div id="contactprofile">
                    <div id="contact-profile-image">
                        <img src="../../assets/img/duck.jpg">
                        <p class="contact-profile-image-name">Product</p>
                        <p class="contact-profile-image-status">The status of the contact/group</p>
                    </div>
                    <div id="contact-profile-actions">
                        <div id="contact-profile-actions-buttons"> 
                            <button style="margin-right: 5px;"> Remove Friend</button>
                            <button> Block Friend</button>
                        </div>
                        <div id="contact-profile-actions-buttons"> 
                            <button style="margin-right: 5px;"> Favorite Friend</button>
                        </div>

                    </div> 
                </div>
            </div>


           
        </div>

    </div>

    <script>

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script>

        function openMessages(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>

</html>