.div {
    margin: 0px;
}

#container {
    margin: 50px auto;
    height: 800px;
    width: 1300px;
    background-color: red;
    display: flex;
}

#side {
    width: 25%;
    padding: 0;
    height: 100%;
    background-color: #393351;
}


#personal-profile{
    height: 100px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: cadetblue;
}

#search-filter{
    display: grid;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    background-color: chocolate;
}
#icons{
    grid-row: 1;
    width: 45px;
    margin: auto;
}
#nav-contacts{
    height: 619px;
    width: 100%;
    background-color: rgb(25, 0, 247);
}

#main{
    overflow: auto;
    width: 75%;
    height: 100%;
    background-color: #1e0e61;
    display: flex;
    flex-wrap: wrap;
}

#group1{
 width: auto;
 
}
#group2{
    margin-left: auto;
}


#contact-bar{
display: flex;    
width: 500px ;
height: 60px;
background-color: slateblue;
margin: 20px auto 0px 65px;
padding: 0;



}

#contact-conversation{
    margin:15px 5px 0px 17px;
    width: 600px;
    height: 619px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: violet;
    overflow: auto;  
}


#contactprofile{
    background-color: rgb(165, 9, 165);
    height: 100%;
    width: 340px;
    padding: 0;
    align-content: center;
    text-align: center;
}
#contact-profile-image {
   background: darkblue;
}
.contact-profile-image-name{
    font-size: 20px;
    color: darkgrey;
    font-weight: 600;
    margin-bottom: 0px;
}
.contact-profile-image-status{
    margin-top: 0px;
    font-size: 12px;
    color: darkgrey;
    font-weight: 600;
}

#contact-profile-actions{
    display: grid;
    align-items: center;
    height: 50px;
    background: darkblue;
    justify-content: center;
}

#contact-profile-buttons button{
    width: 91px;
    height: 15px;
}

#contact {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 100%;
    padding-top: 1px;
    
}

#contact-picture{
    padding: 0 15px 0 7px;
}

#contact-image img{
    width:  60px;
    height: 60px;
}
#contact-image img{
    border-radius: 50%;
}

#contact-info{
    width: 100%;
    border-top-color: var(--background-default-active);
    border-color: #f44336!important;
    border-bottom: 1px solid rgb(155, 145, 145)!important;
}

#top-info {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
}

#bot-info{
    display: flex;
}


#contact-name{
width: 75%;
font-size:larger;
}
#contact-date{
width: 25%;
margin: auto;
}

#contact-bar{
    display: flex;
}




#contact-recent-message{

}

.messsage{
    margin : 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    background-color: #056162;
    color: #c7c8ca;
    flex-grow: 0;
    min-width: 20%;
    max-width: 45%;
    border-radius: 5px;
    height: auto;
  
}

.MyMessage{
    align-self: flex-end;
    background-color: #262d31;
}


#contact-profile-image img{
    width:  200px;
    height: 200px;
    border-radius: 50%;
}
/* Style the tab */
#personal-profile-image{
margin-left: px;
}
#personal-profile-image img{
    width:  80px;
    height: 80px;
    border-radius: 50%;
}

#personal-profile{
   display: flex;
   align-items: center;
}

#personal-profile-status{
    width: 170px;
    overflow-wrap: break-word;
    margin: auto;
}

#personal-profile-more img{
    width: 60px;
    height: 60px;
}
#personal-profile-more{
    width: 60px;
    height: 60px;
}