.div {
    margin: 0px;
}

#container {
    margin: 50px auto;
    height: 800px;
    width: 1300px;
    background-color: red;
    display: flex;
}

#side {
    width: 25%;
    padding: 0;
    height: 100%;
    background-color: #000000;
}


#personal-profile{
    height: 100px;
    color: darkgrey;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #212121;
}

#search-filter{
    display: grid;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #212121;
}
#icons{
    grid-row: 1;
    width: 45px;
    margin: auto;
}
#nav-contacts{
    height: 619px;
    width: 100%;
    background-color: #000000;
    color: darkgrey;
}

#main{
    overflow: auto;
    width: 75%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
}

#group1{
 width: auto;
 
}
#group2{
    margin-left: auto;
}


#contact-bar{
display: flex;    
width: 500px ;
height: 60px;
   background-color: #212121;
margin: 20px auto 0px 65px;
padding: 0;



}

#contact-conversation{
    margin:15px 5px 0px 17px;
    width: 600px;
    height: 619px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #212121;
    overflow: auto;  
}

#contact-conversation-bar{
   background-color: #303030;
    height: 80px;
    width: 600px;
    margin-left: 17px;
    display: flex;
    overflow: auto;
}

#emote-icon{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

#text-input{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    max-width: 400px;
    border-radius: 20px;
    height: fit-content;
    max-height: 80px; 
    overflow: hidden;
    background-color: #424242
}
.expandable-textarea {
 
    font-family: inherit;
    font-size: inherit;
    color: darkgrey;
    padding: 1px 6px;
    border-radius: 20px;
    display: block;
    max-height: 80px; 
    overflow: auto;
    width: 100%;
    resize: both;
    min-height: 40px;
    line-height: 20px;
  }
#text-input input{
    color: darkgrey;
    border: solid 1px black;
    width: 400px;
    max-height: 80px;
    max-width: 400px;
    resize: vertical;
    height: fit-content;
}

#contactprofile{
    background-color: #212121;
    height: 100%;
    width: 340px;
    padding: 0;
    align-content: center;
    text-align: center;
}
#contact-profile-image {
   background: 303030;
}
.contact-profile-image-name{
    font-size: 20px;
    color: darkgrey;
    font-weight: 600;
    margin-bottom: 0px;
}
.contact-profile-image-status{
    margin-top: 0px;
    font-size: 12px;
    color: darkgrey;
    font-weight: 600;
}

#contact-profile-actions{
    display: grid;
    align-items: center;
    height: 50px;
    background: #303030;
    justify-content: center;
}

#contact-profile-buttons button{
    width: 91px;
    height: 15px;
}

#contact {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 100%;
    padding-top: 1px;
    
}

#contact-picture{
    padding: 0 15px 0 7px;
}

#contact-image img{
    width:  60px;
    height: 60px;
}
#contact-image img{
    border-radius: 50%;
}

#contact-info{
    width: 100%;
    border-top-color: var(--background-default-active);
    border-color: #f44336!important;
    border-bottom: 1px solid rgb(155, 145, 145)!important;
}

#top-info {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
}

#bot-info{
    display: flex;
}


#contact-name{
width: 75%;
font-size:larger;
}
#contact-date{
width: 25%;
margin: auto;
}

#contact-bar{
    display: flex;
}




#contact-recent-message{

}

.messsage{
    margin : 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    background-color: #056162;
    color: #c7c8ca;
    flex-grow: 0;
    min-width: 20%;
    max-width: 45%;
    border-radius: 5px;
    height: auto;
  
}

.MyMessage{
    align-self: flex-end;
    background-color: #262d31;
}


#contact-profile-image img{
    width:  200px;
    height: 200px;
    border-radius: 50%;
}
/* Style the tab */
#personal-profile-image{
    margin: auto;
}
#personal-profile-image img{
    width:  80px;
    height: 80px;
    border-radius: 50%;
}

#personal-profile{
   display: flex;
   align-items: center;
}

#personal-profile-status{
    width: 100px;
    overflow-wrap: break-word;
    margin: auto;
}

#personal-profile-more img{
    width: 60px;
    height: 60px;
}
#personal-profile-more{
    width: 60px;
    height: 60px;
}
#profile-options-button{
    margin: auto;
}
#profile-options-button img{
    width: 20px;
    height: 20px;
}
.profilemenu{
    position: absolute;
    height: 800px;
    width: 325px;
    background-color: chartreuse;
    z-index: 10;
}

.search-menu{
    position: absolute;
    height: 800px;
    width: 635px;
    background-color: rgb(71, 124, 18);
    z-index: 10;
    overflow: hidden;
}

#search-container {
    margin-top: 10px;
    display:  flex;
    height: 28px;
    justify-content: center;
}
#search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

#search-container button {
    float: none;
    text-align: left;
  
  }
.returnProfile{
    display: flex;
    border-bottom: black 1px solid;
}
.returnProfile img{
    height: 50px;
}
#returnSpan{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: x-large;
}

#personal-contact-profile-image{
    display: grid;
    justify-content: center;
    place-items: center;
}

#personal-contact-profile-image span{
    font-size: larger;
    font-weight: 600;
    font-family: system-ui;
}
#personal-contact-profile-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#pot-contact{
    display: flex;
    height: 65px;
    width: 100%;
    padding-top: 1px;
    border-bottom: black 1px solid;

}
#pot-contacts{
    overflow: auto;
}
#pot-contact-name{
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
}

#pot-contact-request{
    margin: auto 55px auto auto;
}