<div class="container"> 
    <div id="register">
      <form name='form-register'>
          <h2 style="margin-top: 0px;">Create your account</h2>
        <span class="fontawesome-user"></span>
          <input type="text" id="user" placeholder="Username">
       
        <span class="fontawesome-lock"></span>
          <input type="password" id="pass" placeholder="Password">
          <span class="fontawesome-lock"></span>
          <input type="password" id="pass" placeholder="Confirm Password">

        <input type="submit" value="Register">
        <p style="margin-top: 5px; margin-bottom: 0px;"> <a routerLink="/login"> Go to login page</a> </p>
        </form>
        
    </div>
</div>
<router-outlet></router-outlet>